<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Admin</title>
	<link type="text/css" rel="stylesheet" href="event/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="event/css/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
</head>
<body ng-app="adminApp">
	<div ng-controller="AdminController" class="container">
		<toaster-container></toaster-container>
		<div ng-repeat="(index, event) in events">
			<div class="panel panel-default">
				<div class="panel-heading">
					Name: {{ event.name }}
				</div>
				<div class="panel-body">
					Event time: {{ event.date }}, {{ event.time }}
					<hr>
					Event location: {{ event.location }}
					<hr>
					Event price: {{ event.location }}
					<hr>
					Event description: {{ event.description }}
				</div>
				<div class="panel-footer">
					<button ng-click="updateEvent(event)" type="button" class="btn btn-warning">Update</button>
					<button ng-click="deleteEvent(event._id, index)" type="button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="controller/AdminController.js"></script>
<link rel="stylesheet" href="event/release/popeye.min.css">
<script src="event/release/popeye.min.js"></script>
<script>
	var app = angular.module("adminApp", ['toaster', 'ngAnimate', 'pathgather.popeye']);
	app.controller("AdminController", AdminController);
</script>
</html>